.intro {
  min-width: 320px;
  height: 170px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -65px;
}

.intro__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  color: $white;
  padding: 30px 20px 0 20px;
  margin: 0;
}
