// .page-main {
//   min-width: 320px;
//   margin: 0 auto;
// }

.page-main__intro {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $dark-blue;
  padding: 30px 22px 21px;
}
