.page-header {
  min-width: 320px;
  margin: 0 auto;
  background-color: $dark-blue;
}

// .page-header__opacity {
//   position: absolute;
//   background-color: rgba(40, 54, 69, 0.7);
// }

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;
  padding: 21px 0 27px 20px;
}
