.page-header {
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  height: 69px;
  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-color: $dark-blue;
}

@media (min-width: 660px) {
  .page-header__logo {
    background-image: url("../img/logo-pink-blue-mobile.svg"),
      url("../img/logo-pink-white-mobile.svg");
  }
}
