.tariff-plan__wrapper {
  background-color: $light-grey;
  overflow: hidden;

  &::before {
    content: " ";
    position: absolute;
    top: -20px;
    right: -450px;
    width: 1200px;
    height: 95px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
  }
}

.tariff-plan__list {
  display: flex;
  margin: 0;
  margin-left: -256px;
  padding: 0;
  list-style: none;
}

.tariff-plan__list li:first-child {
  display: none;
}

.tariff-plan__item {
  position: relative;
  margin-top: 105px;
}

.tariff-plan__header {
  width: 278px;
  background-color: $dark-blue;
}

.tariff-plan__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  padding-top: 16px;
  margin: 0;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tariff-plan__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tariff-plan__text {
  width: 255px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $dark-blue;
  text-transform: uppercase;
  padding: 15px 0 14px 21px;
  margin: 0;
  background-color: $white;
  border-bottom: 2px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tariff-plan__header--hit::before {
  position: absolute;
  content: " ";
  width: 75px;
  height: 75px;
  top: 0;
  left: -1px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.tariff-plan__text--on-filter::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  top: 119px;
  right: 19px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff-plan__text--on-smile::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  top: 180px;
  right: 19px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff-plan__text--on-comment::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  top: 235px;
  right: 19px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff-plan__text--off-smile::after {
  position: absolute;
  content: " ";
  width: 26px;
  height: 26px;
  top: 176px;
  right: 20px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff-plan__text--off-comment::after {
  position: absolute;
  content: " ";
  width: 26px;
  height: 26px;
  top: 236px;
  right: 20px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: $tablet-width) {
  .tariff-plan__list li:first-child {
    display: block;
  }

  .tariff-plan__list {
    display: flex;
    align-items: flex-end;
    padding-bottom: 70px;
    margin: 0 auto;
  }

  .tariff-plan__title {
    font-size: 16px;
    padding-top: 11px;
  }

  .tariff-plan__price {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    padding-bottom: 12px;
  }

  .tariff-plan__header {
    width: 155px;
  }

  .tariff-plan__text {
    width: 152px;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    padding: 7px 0 8px 0;
  }

  .tariff-plan__text--visible {
    width: 137px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-indent: 0;
    white-space: normal;
    overflow: visible;
    padding-left: 15px;
    text-transform: none;
  }

  .tariff-plan__text--on-filter::after {
    top: 90px;
    right: 61px;
  }

  .tariff-plan__text--on-smile::after {
    top: 136px;
    right: 61px;
  }

  .tariff-plan__text--on-comment::after {
    top: 182px;
    right: 61px;
  }

  .tariff-plan__text--off-smile::after {
    top: 134px;
    right: 64px;
  }

  .tariff-plan__text--off-comment::after {
    top: 181px;
    right: 65px;
  }

  .tariff-plan__header--hit::before {
    position: absolute;
    content: " ";
    width: 75px;
    height: 75px;
    top: 0;
    left: 1px;
    background-image: url("../img/bg-hit-tablet.svg");
    background-repeat: no-repeat;
  }
}
