.card__panorama {
  position: relative;
  display: block;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 19px;
}

.card__panorama-image {
  margin-bottom: -10px;
}

.card__panorama-daily-image {
  display: block;
  position: absolute;
  width: 140px;
  height: auto;
  top: -12px;
  right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  padding: 6px 0;
  background-color: $pink;
}

.card__panorama-info {
  background-color: $light-grey;
  color: $dark-blue;
  margin: 0 20px 0 20px;
  padding: 21px 18px 0;
}

.card__panorama-user-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $dark-blue;
  padding: 0;
  margin: 0;
}

.card__panorama-time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.card__panorama-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.card__panorama-like {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
  padding: 10px 0 20px 32px;
  margin: 0;

  &::before {
    position: absolute;
    content: " ";
    width: 15px;
    height: 14px;
    top: 15px;
    left: 0;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.card {
  width: 282px;
  height: auto;
  background-color: $light-grey;
  margin: 0 auto;
  margin-bottom: 20px;
}

.page-main article:nth-of-type(3),
.page-main article:nth-of-type(5) {
  margin-bottom: 21px;
}

.card__info {
  background-color: $light-grey;
  color: $dark-blue;
  padding: 11px 18px 20px 18px;
}

.card__user-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: $dark-blue;
  padding: 0;
  margin: 0;
}

.card__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.card__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.card__like {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
  padding: 9px 0 0 32px;
  margin: 0;

  &::before {
    position: absolute;
    content: " ";
    width: 15px;
    height: 15px;
    top: 15px;
    left: 0;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (min-width: $tablet-width) {
  .card__panorama {
    padding-bottom: 50px;
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
  }

  .card__panorama-daily-image {
    top: 45px;
  }

  .card__panorama-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 18px 27px 25px;
  }

  .card__panorama-user-name {
    order: 1;
  }

  .card__panorama-text {
    order: 3;
  }

  .card__panorama-like {
    padding-right: 33px;
    order: 2;
    padding-bottom: 0;

    &::before {
      left: 140px;
    }
  }

  .card__wrapper {
    width: 644px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .card {
    width: 300px;
  }

  .card__info {
    width: 300px;
    min-height: 148px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 18px 23px 28px;
  }

  .card__text {
    flex-grow: 1;
  }

  .card__like {
    margin-bottom: auto;
    padding-left: 0;

    &::before {
      left: 227px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card__wrapper {
    width: 956px;
    margin: 0 auto;
  }

  .card__panorama {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .card__panorama-info {
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .card__panorama-daily-image {
    top: 40px;
    right: 130px;
  }

  .card {
    margin-bottom: 50px;
  }

  .page-main article:nth-of-type(3),
  .page-main article:nth-of-type(5) {
    margin-bottom: 50px;
  }

  .card__info {
    min-height: 148px;
  }
}
