.contest-form {
  margin: 0 auto;
}

.contest-form__full-name {
  width: 280px;
  margin: 0 auto;
  padding-left: 0 20px 25px 20px;
}

.contest-form__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
  padding-left: 22px;
}

.contest-form__input {
  box-sizing: border-box;
  width: 280px;
  height: 63px;
  border: 2px solid $border-color;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 0 20px;
  margin-top: 5px;
  margin-bottom: 17px;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    border: 2px solid $pink;
    outline: none;
  }
}


.contest-form__achievements {
  position: relative;
  background-color: $light-grey;
  padding: 38px 20px 0;
  margin: 0 auto;
}

.contest-form__achievements-wrapper {
  width: 280px;
  margin: 0 auto;
}

.contest-form__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $pink;
  padding: 0 25px 43px;
  margin: 0;
}

.contest-form__contacts h3 {
  display: none;
}

.contest-form__achievements label {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $dark-blue;
  padding-left: 70px;
  margin-bottom: 52px;
  cursor: pointer;
}

.contest-form__checkbox-indikator {
  position: absolute;
  display: block;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  border: 2px solid $border-color;
  background-color: $white;

  &:hover {
    border: 2px solid $black;
  }

  &:active {
    outline: none;
    border: 2px solid $pink;
  }
}

.contest-form__achievements label:last-child {
  padding-bottom: 46px;
  margin-bottom: 0;
}

.contest-form__checkbox-label input[type="checkbox"]:checked + .contest-form__checkbox-indikator {
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.contest-form__checkbox-label input[type="checkbox"]:focus + .contest-form__checkbox-indikator,
.contest-form__checkbox-label input[type="radio"]:focus + .contest-form__checkbox-radioindikator {
  outline: 2px solid $pink;
}

.contest-form__contacts {
  width: 280px;
  padding: 33px 20px 26px 20px;
  margin: 0 auto;
}

.contest-form__app-type {
  padding: 37px 20px 30px 20px;
  margin: 0 auto;
  background-color: $light-grey;
}

.contest-form__app-type-wrapper {
  width: 280px;
  margin: 0 auto;
}

.contest-form__checkbox-radioindikator {
  position: absolute;
  display: block;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid $border-color;
  background-color: $white;

  &:hover {
    border: 2px solid $black;
  }

  &:active {
    outline: none;
    border: 2px solid $pink;
  }
}

.contest-form__checkbox-label input[type="radio"]:checked + .contest-form__checkbox-radioindikator {
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}

.contest-form__app-type h3 {
  padding-bottom: 39px;
}

.contest-form__app-type label {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $dark-blue;
  padding-left: 70px;
  margin-bottom: 45px;
  cursor: pointer;
}

.contest-form__app-type label:last-child {
  margin-bottom: 0;
  padding-bottom: 18px;
}

.contest-form__impression {
  width: 280px;
  padding: 37px 20px 41px;
  margin: 0 auto;
}

.contest-form__impression h3 {
  padding-bottom: 16px;
}

.contest-form__textarea {
  width: 100%;
  height: 201px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 15px 19px;
  border: 2px solid $border-color;
  box-sizing: border-box;
  resize: none;
  margin: 0 auto;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    outline: none;
    border: 2px solid $pink;
  }
}

.contest-form__button {
  display: block;
  width: 280px;
  height: 62px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $green-btn;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    background-color: $green-btn-active;
    color: $green-btn-active-text;
  }
}

.contest-form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
}

.contest-form__text--red {
  color: $pink;
}

.contest-form__text--hide {
  display: none;
}

@media (min-width: $tablet-width) {
  .contest-form {
    display: flex;
    flex-wrap: wrap;
  }

  .contest-form__full-name {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    padding-top: 44px;
    margin: 0 auto;
    order: 1;
  }

  .contest-form__input {
    width: 525px;
    margin-bottom: 47px;
  }

  .contest-form__full-name input:nth-of-type(2) {
    width: 565px;
  }

  .contest-form__full-name input:nth-of-type(3) {
    margin-bottom: 30px;
  }

  .contest-form__label {
    padding: 0;
  }

  .contest-form__achievements {
    order: 4;
    background-color: transparent;
    padding-top: 30px;
  }

  .contest-form__achievements-wrapper {
    width: 620px;
    box-sizing: border-box;
    border: 2px solid $border-color;
    padding: 56px 60px 27px 58px;
    margin: 0 auto;
    flex-grow: 1;
  }

  .contest-form__achievements h3 {
    position: absolute;
    height: 16px;
    top: 20px;
    left: 114px;
    margin: 0 25px;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__achievements label {
    padding-left: 60px;
  }

  .contest-form__achievements label:last-child {
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .contest-form__contacts {
    width: 620px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid $border-color;
    padding: 41px 60px 4px 58px;
    margin: 35px auto;
    order: 3;
  }

  .contest-form__contacts h3 {
    display: block;
    position: absolute;
    height: 16px;
    top: -10px;
    left: 159px;
    margin: 0 25px;
    padding-bottom: 0;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .contest-form__contacts label:nth-of-type(1) {
    padding-left: 20px;
    padding-bottom: 24px;
    flex-grow: 1;
    order: 3;
  }

  .contest-form__contacts label:nth-of-type(2) {
    padding-left: 20px;
    flex-grow: 1;
    order: 4;
  }

  .contest-form__contacts input:nth-of-type(1) {
    width: 438px;
    height: 62px;
    padding-right: 20px;
    margin-bottom: 10px;
    order: 1;
    z-index: 1;
  }

  .contest-form__phone-icon {
    margin-top: 5px;
    width: 58px;
    height: 62px;
    background-color: $border-color;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 19px;
    order: 2;
  }

  .contest-form__contacts input:nth-of-type(2) {
    width: 438px;
    height: 62px;
    padding-right: 20px;
    margin-bottom: 10px;
    order: 3;
    z-index: 1;
  }

  .contest-form__adress-icon {
    width: 58px;
    height: 62px;
    margin-top: 5px;
    background-color: $border-color;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 13px;
    order: 2;
  }

  .contest-form__app-type {
    order: 2;
    background-color: transparent;
  }

  .contest-form__app-type-wrapper {
    width: 620px;
    position: relative;
    border: 2px solid $border-color;
    box-sizing: border-box;
    padding: 56px 58px 41px;
    margin: 0 auto;
    flex-grow: 1;
  }

  .contest-form__app-type h3 {
    position: absolute;
    height: 16px;
    top: -10px;
    left: 99px;
    margin: 0 25px;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__app-type label {
    padding-left: 60px;
  }

  .contest-form__impression {
    width: 620px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid $border-color;
    padding: 45px 58px 45px 58px;
    margin: 66px auto 0;
    order: 5;
  }


  .contest-form__impression h3 {
    position: absolute;
    height: 16px;
    top: -10px;
    left: 166px;
    margin: 0 25px;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__textarea {
    width: 500px;
    height: 193px;
    border: 2px solid $border-color;
    box-sizing: border-box;
    resize: none;
  }

  .contest-form__submit {
    width: 620px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 48px auto 52px;
    order: 6;
  }

  .contest-form__button {
    width: 300px;
    margin: 0;
  }

  .contest-form__text--hide {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .contest-form {
    width: 940px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .contest-form__full-name {
    width: 433px;
    margin: 0;
    margin-top: 11px;
  }

  .contest-form__input {
    width: 339px;
    margin-bottom: 47px;
  }

  .contest-form__full-name input:nth-of-type(1) {
    margin-bottom: 49px;
    margin-top: 6px;
  }

  .contest-form__full-name input:nth-of-type(2) {
    width: 379px;
  }

  .contest-form__app-type {
    margin: 0;
    padding: 0;
    margin-top: 56px;
  }

  .contest-form__app-type-wrapper {
    width: 435px;
    padding-top: 57px;
    padding-left: 72px;
  }

  .contest-form__app-type h3 {
    width: 320px;
    position: absolute;
    height: 16px;
    top: -10px;
    left: 5px;
    margin: 0 25px;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__app-type label {
    padding-left: 60px;
  }

  .contest-form__contacts {
    width: 940px;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 13px;
    margin-bottom: 64px;
  }

  .contest-form__contacts-wrapper {
    width: 375px;
    justify-content: flex-start;
  }

  .contest-form__contacts h3 {
    left: 318px;
  }

  .contest-form__adress-icon {
    top: 43px;
    right: 504px;
    width: 60px;
    order: 2;
  }

  .contest-form__phone-icon {
    top: 43px;
    right: 59px;
    width: 60px;
    order: 2;
  }

  .contest-form__contacts input:nth-of-type(1) {
    position: relative;
    width: 314px;
    height: 62px;
    padding-right: 20px;
    margin-bottom: 10px;
    order: 1;
  }

  .contest-form__contacts input:nth-of-type(2) {
    width: 314px;
    height: 62px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-left: 131px;
    order: 1;
  }

  .contest-form__contacts label:nth-of-type(1) {
    padding-left: 20px;
    padding-bottom: 0;
    order: 3;
  }

  .contest-form__contacts label:nth-of-type(2) {
    padding-left: 20px;
    padding-right: 256px;
    margin-left: auto;
    order: 3;
  }

  .contest-form__achievements {
    padding: 0;
  }

  .contest-form__achievements h3 {
    top: -8px;
    left: 232px;
  }

  .contest-form__achievements-wrapper {
    width: 940px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 9px;
    padding-left: 56px;
  }

  .contest-form__achievements-wrapper label:nth-of-type(3n+1) {
    width: 255px;
  }

  .contest-form__achievements-wrapper label:nth-of-type(2) {
    width: 255px;
  }

  .contest-form__achievements-wrapper label:nth-of-type(3) {
    width: 235px;
  }

  .contest-form__achievements-wrapper label:nth-of-type(4) {
    width: 235px;
  }

  .contest-form__achievements-wrapper label:nth-of-type(3n+8) {
    width: 235px;
  }

  .contest-form__checkbox-label--order1 {
    order: 1;
  }

  .contest-form__checkbox-label--order4 {
    order: 4;
  }

  .contest-form__checkbox-label--order2 {
    order: 2;
  }

  .contest-form__checkbox-label--order5 {
    order: 5;
  }

  .contest-form__checkbox-label--order3 {
    order: 3;
  }

  .contest-form__checkbox-label--order6 {
    order: 6;
  }

  .contest-form__impression {
    width: 940px;
    margin-top: 64px;
    padding-top: 42px;
    padding-bottom: 38px;
  }

  .contest-form__impression h3 {
    top: -10px;
    left: 325px;
  }

  .contest-form__textarea {
    width: 100%;
    height: 127px;
  }

  .contest-form__submit {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 0;
  }

  .contest-form__button {
    margin: 0;
  }

  .contest-form__text {
    margin-left: 0;
  }

  .contest-form__text--hide {
    display: inline;
  }
}
