//.contest-form {
//  padding: 0 20px;
//  margin: 0 auto;
//}

.contest-form__full-name {
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.contest-form__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
  padding-left: 22px;
}

.contest-form__input {
  box-sizing: border-box;
  width: 280px;
  height: 63px;
  border: 2px solid $border-color;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 0 20px;
  margin-top: 5px;
  margin-bottom: 17px;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    border: 2px solid $border-color;
    outline: 2px solid $pink;
  }
}


.contest-form__achievements {
  position: relative;
  background-color: $light-grey;
  padding: 38px 20px 0;
  margin: 0 auto;
}

.contest-form__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $pink;
  padding: 0 25px 43px;
  margin: 0;
}

.contest-form__contacts h3 {
  display: none;
}

.contest-form__achievements label {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $dark-blue;
  padding-left: 70px;
  margin-bottom: 52px;
  cursor: pointer;
}

.contest-form__checkbox-indikator {
  position: absolute;
  display: block;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  border: 2px solid $border-color;
  background-color: $white;

  &:hover {
    border: 2px solid $black;
  }

  &:active {
    outline: none;
    border: 2px solid $pink;
  }
}

.contest-form__achievements label:last-child {
  padding-bottom: 46px;
  margin-bottom: 0;
}

.contest-form__checkbox-label input[type="checkbox"]:checked + .contest-form__checkbox-indikator {
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.contest-form__checkbox-label input[type="checkbox"]:focus + .contest-form__checkbox-indikator,
.contest-form__checkbox-label input[type="radio"]:focus + .contest-form__checkbox-radioindikator {
  // outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.contest-form__contacts {
  padding: 33px 20px 26px 20px;
  margin: 0 auto;
}

.contest-form__app-type {
  padding: 37px 20px 30px 20px;
  margin: 0 auto;
  background-color: $light-grey;
}

.contest-form__checkbox-radioindikator {
  position: absolute;
  display: block;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid $border-color;
  background-color: $white;

  &:hover {
    border: 2px solid $black;
  }

  &:active {
    outline: none;
    border: 2px solid $pink;
  }
}

.contest-form__checkbox-label input[type="radio"]:checked + .contest-form__checkbox-radioindikator {
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}

.contest-form__app-type h3 {
  padding-bottom: 39px;
}

.contest-form__app-type label {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $dark-blue;
  padding-left: 70px;
  margin-bottom: 45px;
  cursor: pointer;
}

.contest-form__app-type label:last-child {
  margin-bottom: 0;
  padding-bottom: 18px;
}

.contest-form__impression {
  padding: 37px 20px 41px;
  margin: 0 auto;
}

.contest-form__impression h3 {
  padding-bottom: 16px;
}

.contest-form__textarea {
  width: 279px;
  height: 201px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 15px 19px;
  border: 2px solid $border-color;
  box-sizing: border-box;
  resize: none;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    outline: none;
    border: 2px solid $pink;
  }
}

.contest-form__button {
  display: block;
  width: 280px;
  height: 62px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $green-btn;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    background-color: $green-btn-active;
    color: $green-btn-active-text;
  }
}

.contest-form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
}

.contest-form__text--red {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .contest-form {
    display: flex;
    flex-wrap: wrap;
  }

  .contest-form__full-name {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 28px;
    order: 1;
  }

  .contest-form__input {
    width: 525px;
    margin-bottom: 47px;
  }

  .contest-form__full-name input:nth-of-type(2) {
    width: 565px;
  }

  .contest-form__full-name input:nth-of-type(3) {
    margin-bottom: 41px;
  }

  .contest-form__label {
    padding: 0;
  }

  .contest-form__achievements {
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid $border-color;
    padding: 56px 60px 27px 58px;
    margin: 0 20px;
    flex-grow: 1;
    order: 4;
  }

  .contest-form__achievements h3 {
    position: absolute;
    height: 16px;
    top: -10px;
    left: 72px;
    margin: 0 25px;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__achievements label {
    padding-left: 60px;
  }

  .contest-form__achievements label:last-child {
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .contest-form__contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid $border-color;
    padding: 41px 60px 27px 58px;
    margin: 65px 20px;
    order: 3;
  }

  .contest-form__contacts h3 {
    display: block;
    position: absolute;
    height: 16px;
    top: -10px;
    left: 159px;
    margin: 0 25px;
    padding-bottom: 0;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__contacts label:nth-of-type(1) {
    padding-left: 20px;
    padding-bottom: 24px;
    order: 2;
  }

  .contest-form__contacts label:nth-of-type(2) {
    padding-left: 20px;
    order: 4;
  }

  .contest-form__contacts input:nth-of-type(1) {
    position: relative;
    width: 500px;
    height: 62px;
    padding-right: 80px;
    margin-bottom: 10px;
    order: 1;
  }

  .contest-form__phone-icon {
    position: absolute;
    top: 48px;
    right: 62px;
    width: 58px;
    height: 58px;
    background-color: $border-color;
    z-index: 1;
  }

  .contest-form__contacts input:nth-of-type(2) {
    width: 500px;
    height: 62px;
    padding-right: 80px;
    margin-bottom: 10px;
    order: 3;
  }

  .contest-form__adress-icon {
    position: absolute;
    top: 179px;
    right: 62px;
    width: 58px;
    height: 58px;
    background-color: $border-color;
    z-index: 1;
  }

  .contest-form__app-type {
    position: relative;
    background-color: transparent;
    border: 2px solid $border-color;
    box-sizing: border-box;
    padding: 56px 58px 41px;
    margin: 0 20px;
    flex-grow: 1;
    order: 2;
  }

  .contest-form__app-type h3 {
    position: absolute;
    height: 16px;
    top: -10px;
    left: 99px;
    margin: 0 25px;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__app-type label {
    padding-left: 60px;
  }

  .contest-form__impression {
    position: relative;
    box-sizing: border-box;
    border: 2px solid $border-color;
    padding: 45px 58px 45px 58px;
    margin: 66px 20px 0;
    flex-grow: 1;
    order: 5;
  }

  .contest-form__impression h3 {
    position: absolute;
    height: 16px;
    top: -10px;
    left: 166px;
    margin: 0 25px;
    background-color: $white;
    z-index: 1;
  }

  .contest-form__textarea {
    width: 500px;
    height: 193px;
    border: 2px solid $border-color;
    box-sizing: border-box;
    resize: none;
  }

  .contest-form__submit {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 48px 20px 52px;
    order: 6;
  }

  .contest-form__button {
    width: 300px;
  }

  .contest-form__text {
    margin-left: 137px;
  }
}
