.contacts {
  max-width: 320px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 18px;
}

.contacts__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 0;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  color: $pink;
  margin: 0;
  padding: 0 20px 23px 20px;
}

.contacts__email b {
  padding-bottom: 5px;
}

.contacts__adress b {
  padding-bottom: 8px;
}

.mymap {
  position: relative;
  max-width: 320px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;

  &::before {
    content: " ";
    position: absolute;
    top: -12px;
    right: -500px;
    width: 960px;
    height: 95px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    min-width: 660px;
    margin: 0 auto;
  }

  .contacts__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    padding: 13px 45px 10px;
  }

  .contacts__subtitle {
    padding-bottom: 7px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5px;
  }

  .contacts__phone,
  .contacts__email,
  .contacts__adress {
    width: 320px;
    padding-bottom: 25px;
  }

  .contacts__adress {
    padding-bottom: 12px;
  }

  .mymap {
    min-width: 660px;
    height: 370px;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      right: -330px;
      width: 960px;
      height: 95px;
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }
  }
}

@media (min-width: 960px) {
  .contacts {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: 960px;
    height: 200px;
    margin: 0 auto;
  }

  .mymap {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
  }
}
