.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    max-width: 603px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 59px 36px 52px 21px;
  }

  .effect__image {
    width: 238px;
    height: 276px;
    box-sizing: border-box;
    background-image: url("../img/icon-timer.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 103px;
    padding-left: 17px;
  }

  .effect__image-text {
    width: 202px;
    height: 202px;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    padding: 15px 32px 27px;
    background-color: $white;
    color: $pink;
    border: 15px solid $pink;
    border-radius: 50%;
  }

  .effect__info {
    width: 296px;
  }

  .effect__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-top: 38px;
  }

  .effect__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $dark-blue;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .effect__link {
    color: $pink;

    &:visited {
      color: $pink;
    }
  }

  .effect__title--tablet-hide {
    display: none;
  }

  .effect__text--tablet-hide {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: $light-grey;
  }

  .effect__wrapper {
    min-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 66px;
  }

  .effect__info {
    width: 584px;
    padding-top: 89px;
  }

  .effect__title {
    padding-bottom: 12px;
    padding-left: 10px;
  }

  .effect__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 33px;
    padding-left: 10px;
  }

  .effect__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    padding-left: 10px;
  }

  .effect__title--desktop-hide {
    display: none;
  }

  .effect__text--desktop-hide {
    display: none;
  }

  .effect__title--tablet-hide {
    display: block;
  }

  .effect__text--tablet-hide {
    display: block;
  }

  .effect__image {
    width: 298px;
    height: 345px;
    box-sizing: border-box;
    background-image: url("../img/icon-timer.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 36px;
    margin-left: 2px;
    padding-top: 129px;
    padding-left: 21px;
  }

  .effect__image-text {
    width: 253px;
    height: 253px;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    padding: 21px 41px 34px;
    background-color: $white;
    color: $pink;
    border: 18px solid $pink;
    border-radius: 50%;
  }
}
