.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    max-width: 603px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 59px 36px 52px 21px;
  }

  .effect__info {
    width: 296px;
  }

  .effect__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-top: 38px;
  }

  .effect__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $dark-blue;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .effect__link {
    color: $pink;

    &:visited {
      color: $pink;
    }
  }

  .effect__title--tablet-hide {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: $light-grey;
  }

  .effect__wrapper {
    min-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 57px;
  }

  .effect__info {
    width: 584px;
    padding-top: 89px;
  }

  .effect__title {
    padding-bottom: 12px;
    padding-left: 10px;
  }

  .effect__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 33px;
    padding-left: 10px;
  }

  .effect__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    padding-left: 10px;
  }

  .effect__title--desktop-hide {
    display: none;
  }

  .effect__title--tablet-hide {
    display: block;
  }

  .effect__image {
    // padding-left: 10px;
    padding-top: 33px;
  }
}
