.modal {
  display: none;
  width: 320px;
  height: auto;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  background-color: $white;
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  padding: 0;
  padding-top: 37px;
  margin: 0;
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 27px 25px;
  margin: 0;
  color: $dark-blue;
}

.modal__button-wrapper {
  background-color: $light-grey;
  padding-top: 50px;
  padding-bottom: 54px;
}

.modal__button {
  display: block;
  width: 280px;
  height: 62px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $green-btn;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    background-color: $green-btn-active;
    color: $green-btn-active-text;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 464px;
    box-sizing: border-box;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    padding: 37px 80px 0;
  }

  .modal__text {
    font-size: 18px;
    padding: 27px 70px;
  }

  .modal__text--hide {
    display: none;
  }

  .modal__button {
    width: 299px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 782px;
  }

  .modal__text {
    padding: 27px 170px;
  }
}
