.modal-error {
  display: none;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 320px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: $white;
}

.modal-error__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  padding: 0;
  padding-top: 37px;
  margin: 0;
}

.modal-error__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 30px 20px 38px;
  margin: 0;
  color: $dark-blue;
}

.modal-error__button-wrapper {
  padding-bottom: 52px;
}

.modal-error__button {
  display: block;
  width: 280px;
  height: 62px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $green-btn;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    background-color: $green-btn-active;
    color: $green-btn-active-text;
  }
}

@media (min-width: $tablet-width) {
  .modal-error {
    width: 464px;
    box-sizing: border-box;
  }

  .modal-error__title {
    font-size: 30px;
    line-height: 36px;
    padding: 37px 110px 0;
    margin: 0;
  }

  .modal-error__text {
    font-size: 18px;
    line-height: 24px;
    padding: 27px 80px;
    margin: 0;
  }

  .modal-error__button-wrapper {
    padding-bottom: 52px;
  }

  .modal-error__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .modal-error {
    width: 462px;
  }
}
