.page-main {
  max-width: 320px;
  margin: 0 auto;
}

.page-main__intro {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $dark-blue;
  padding: 30px 20px 21px;
}

.page-main__text {
  display: none;
}

.page-main__intro--foto {
  padding: 31px 35px 35px;
}

.page-main__intro--form {
  padding: 21px 35px 35px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-main {
    min-width: 660px;
    margin: 0 auto;
  }

  .page-main__intro {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 74px 50px 21px;
  }

  .page-main__text {
    display: inline;
  }

  .page-main__intro--foto {
    padding-bottom: 57px;
  }

  .page-main__intro--form {
    padding-top: 43px;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    min-width: 1200px;
    margin: 0 auto;
  }
}
