.page-header {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: $dark-blue;
}

// .page-header__opacity {
//   position: absolute;
//   background-color: rgba(40, 54, 69, 0.7);
// }

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;
  padding: 21px 0 27px 20px;
  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: center right;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-image: url("../img/logo-pink-white-mobile-hover.svg");
  }

  &:active {
    background-image: url("../img/logo-pink-white-mobile.svg");
    opacity: 0.3;
  }
}

@media (min-width: 660px) {
  .page-header {
    width: 100%;
  }

  .page-header__wrapper {
    margin: 0 auto;
  }

  .page-header__logo {
    padding: 43px 0 45px 93px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    background-image: url("../img/logo-pink-white-tablet.svg");

    &:hover {
      background-image: url("../img/logo-pink-white-tablet-hover.svg");
    }

    &:active {
      background-image: url("../img/logo-pink-white-tablet.svg");
      opacity: 0.3;
    }
  }
}

@media (min-width: 960px) {
  .page-header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  .page-header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
  }

  .page-header__logo {
    background-image: url("../img/logo-pink-white-desktop.svg");

    &:hover {
      background-image: url("../img/logo-pink-white-desktop-hover.svg");
    }

    &:active {
      background-image: url("../img/logo-pink-white-desktop.svg");
      opacity: 0.3;
    }
  }

  .page-header__opacity {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparentize($black, 0.7);
    z-index: 999;
  }
}
