.page-main {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.page-main__intro {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $dark-blue;
  padding: 44px 20px 35px;
  margin: 0 auto;
}

.page-main__text {
  display: none;
}

.page-main__intro--foto {
  width: 250px;
  padding: 45px 35px 48px;
}

.page-main__hide {
  display: none;
}

.page-main__intro--hide {
  display: block;
}

.page-main__intro--photo {
  width: 320px;
  padding: 22px 0 42px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }

  .page-main__intro {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 74px 50px 21px;
  }

  .page-main__text {
    display: inline;
  }

  .page-main__intro--foto {
    width: 460px;
    padding: 90px 20px 77px;
  }

  .page-main__intro--form {
    width: 560px;
    padding: 94px 50px 21px;
  }

  .page-main__intro--photo {
    width: 560px;
    padding-top: 43px;
    padding-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  .page-main__intro {
    max-width: 770px;
    margin: 0 auto;
  }

  .page-main__intro--foto {
    width: 610px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 90px;
  }

  .page-main__intro--photo {
    padding-top: 4px;
    padding-bottom: 65px;
  }

  .page-main__intro--form {
    width: 960px;
  }
}
