.reviews {
  max-width: 320px;
  margin: 0 auto;
}

.reviews__wrapper {
  padding-bottom: 23px;
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding: 43px 0 0 0;
  margin: 0;
}

.reviews__id {
  display: none;
}

.reviews__text {
  font-style: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0 20px 9px;
}

.reviews__controls {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    min-width: 660px;
    margin: 0 auto;
  }

  .reviews__wrapper {
    padding-bottom: 0;
  }

  .reviews__item-wrapper {
    display: flex;
    flex-direction: column;
  }

  .reviews__title {
    font-size: 20px;
    padding-top: 8px;
    order: 2;
  }

  .reviews__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    order: 1;
  }

  .reviews__id {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-blue;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 27px;
    order: 3;
  }

  .reviews__controls {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .reviews__wrapper {
    position: relative;
    width: 960px;
    padding-top: 137px;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: " ";
      top: 70px;
      left: 441px;
      width: 80px;
      height: 65px;
      background-image: url("http://placehold.it/80x65");
    }
  }

  .reviews__list {
    width: 730px;
    margin: 0 auto;
  }

  .reviews__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  .reviews__id {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__quote-hide {
    display: none;
  }

  .slider__controls {
    display: none;
  }

  .reviews__controls {
    display: block;
  }

  .reviews__button-prev {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 212px;
    left: 0;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    background-image: url("http://placehold.it/40x40");
    cursor: pointer;
  }

  .reviews__button-next {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 212px;
    right: 0;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    background-image: url("http://placehold.it/40x40");
    cursor: pointer;
  }
}
